# Server port
server:
  port: 8060
#  ip: localhost:9090
  ip: 202.191.56.11/up

service:
  host: localhost:9001

spring:
  application:
    name: learningserver
  datasource:
    url: jdbc:mysql://202.191.56.11:3307/hustappuser
    username: root
    password: Hust20232
#    url: jdbc:mysql://localhost:3306/hustappuser
#    username: root
#    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: true
  .servlet:
    multipart:
      max-file-size: 1000MB
      max-request-size: 10000MB
      enabled: true

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://202.191.56.11:8070/eureka/

#Email Config
mailServer:
  host: smtp.gmail.com
  port: 587
  email: phamquynhltbn12@gmail.com
  password: vbwpvroafrnttgvm
  protocol: smtp
  isSSL: false
  
# Keycloak Config
keycloak:
  realm: master
  auth-server-url: http://202.191.56.11:7080
  ssl-required: none
  resource: HustApp
  use-resource-role-mappings: true
  bearer-only: true
  cors: true
  principal-attribute: admin
  username: admin
  password: admin
  credentials:
    secret: Y7j8BGBJ1ZVO0IgFjkdvnqtQtoF3xb8h
#    secret: o6hKN3PkOk9f8FeMX8xyTTnKhZwABExd

# Minio
minio:
  access:
#    name: ROOTUSER
#    secret: CHANGEME123
      name: root
      secret: Tuyen18072001
  url: http://localhost:9001
  data_collection-bucket: data-collection
  vocabulary-bucket: vocabulary
  topic-bucket: topic
  question-bucket: question
  media_general-bucket: media_general
